In [1]:
import numpy as np
import pandas as pd
import json
import string

In [2]:
dyna = pd.read_csv('yelp_la/yelp_la.dyna')
dyna.nunique()

dyna_id      106468
type              1
time         106439
entity_id     40182
location       7811
text         100649
dtype: int64

In [3]:
geo = pd.read_csv('yelp_la/yelp_la.geo')
geo

,geo_id,type,coordinates,categories,text,main categories
0,0,Point,"[-90.074523,30.0063408]",Food Restaurants Italian,The Original Italian Pie Welcome to the neighb...,Food
1,1,Point,"[-90.1008188,29.920621899999997]",Music DVDs Vinyl Records Fashion Womens Cloth...,Peaches Records There selectiona are pricey fo...,Shopping
2,2,Point,"[-90.0620566,29.9575819]",Arts Entertainment Cinema Local Flavor Hotels...,New Orleans Movie Tours This was a great tour ...,Arts Entertainment
3,3,Point,"[-90.1064893,30.0194903]",Food Street Vendors,Billy Wrights Manuels Style Hot Tamales Excell...,Food
4,4,Point,"[-90.073235,29.9516963]",Cafes Nightlife Cocktail Bars Peruvian Restaur...,Piscobar Upstairs bar closed Monday and Tuesda...,Nightlife
...,...,...,...,...,...,...
7806,7806,Point,"[-90.0940442,29.926067]",Venues Event Spaces Wraps Restaurants Event P...,Robins Wharf Uptown Soups count as a side with...,Event Planning Services
7807,7807,Point,"[-90.0617793,29.9587943]",Shopping Fashion Mens Clothing Childrens Cloth...,Kulture Vulture Cool Ass store They sell a lot...,Shopping
7808,7808,Point,"[-90.066328,29.941828]",Venues Event Spaces Event Planning Services ...,Generations Hall Fabulous venue,Event Planning Services
7809,7809,Point,"[-90.1069741,29.9168565]",Food American Traditional Nightlife Restaurant...,F M Patio Bar Yes Make fun 20 credit card min...,Food
7810,7810,Point,"[-90.0355581,29.911358]",Restaurants Cafes Italian,Cafe Diblasi Great little Italian establishmen...,Restaurants

In [6]:
geo['main categories'].value_counts()

Food                           1851
Restaurants                    1390
Nightlife                       621
Beauty  Spas                    589
Event Planning  Services        559
Shopping                        515
Arts  Entertainment             473
Automotive                      393
Active Life                     338
Local Services                  216
Home Services                   210
Health  Medical                 195
Hotels  Travel                  138
Pets                             98
Local Flavor                     75
Public Services  Government      54
Financial Services               40
Education                        28
Religious Organizations          13
Professional Services             8
Mass Media                        7
Name: main categories, dtype: int64

In [7]:
geo['categories'].str.split().str[0].unique()

array(['Food', 'Music', 'Arts', 'Cafes', 'Hotels', 'CajunCreole',
       'Health', 'Real', 'Restaurants', 'Barbers', 'General', 'Day',
       'Beauty', 'Landmarks', 'Fast', 'Latin', 'Ice', 'Gyms',
       'Dermatologists', 'Public', 'Seafood', 'Pizza', 'Cosmetics',
       'Pest', 'Fashion', 'Grocery', 'Specialty', 'Womens', 'Donuts',
       'Wine', 'Hair', 'Active', 'Toy', 'Local', 'Shopping', 'Sandwiches',
       'Coffee', 'Brasseries', 'Tires', 'Shades', 'Middle', 'Bars',
       'Sports', 'Home', 'Tiki', 'Juice', 'Nightlife', 'Internet', 'Pet',
       'Burgers', 'Bed', 'Art', 'Dive', 'Flight', 'Lounges', 'Adult',
       'Butcher', 'Barbeque', 'Party', 'Event', 'Kids', 'Pets', 'Farmers',
       'American', 'Auto', 'Spanish', 'Comfort', 'Japanese', 'Breakfast',
       'Vegan', 'Maternity', 'Ethnic', 'Laser', 'Kitchen', 'Mens',
       'Steakhouses', 'Interior', 'French', 'Skin', 'Custom',
       'Automotive', 'Department', 'Asian', 'Furniture', 'Eyebrow',
       'Convenience', 'Tobacco', 'Vitamins', 'Southern', 'Mediterranean',
       'Halal', 'Vietnamese', 'Interval', 'Tattoo', 'Windows', 'Sewing',
       'Fitness', 'Uniforms', 'Dance', 'Candy', 'Computers', 'Italian',
       'Shoe', 'Makeup', 'Ophthalmologists', 'Hobby', 'Delis',
       'Accessories', 'Wedding', 'Beer', 'Drugstores', 'Venues', 'Sushi',
       'Kickboxing', 'Desserts', 'Recording', 'Medical', 'Korean',
       'Bakeries', 'Indoor', 'Caterers', 'Shaved', 'Optometrists',
       'Outdoor', 'Cosmetic', 'PopUp', 'Transportation', 'Jewelry',
       'Cinema', 'Movers', 'Libraries', 'Funeral', 'Irish',
       'Professional', 'Nail', 'Ethiopian', 'Jazz', 'Pubs', 'Salad',
       'Spiritual', 'Education', 'Doctors', 'Soul', 'Building', 'Buffets',
       'Chicken', 'Check', 'Chiropractors', 'Cocktail', 'Mobile',
       'Rehabilitation', 'Banks', 'Concept', 'Religious', 'Session',
       'Firearm', 'Flowers', 'Wholesale', 'Tours', 'Car', 'Festivals',
       'Tacos', 'Gas', 'Head', 'Indian', 'Chinese', 'Mexican', 'Sporting',
       'Herbs', 'Reflexology', 'Post', 'Printing', 'TapasSmall',
       'Electronics', 'Airport', 'Florists', 'Massage', 'Trainers',
       'Meat', 'Colleges', 'Empanadas', 'Christmas', 'Guest', 'Arabic',
       'Gift', 'Community', 'DoItYourself', 'Historical', 'Bookstores',
       'Departments', 'Town', 'Eyelash', 'Discount', 'Drywall', 'Musical',
       'Diners', 'Museums', 'Formal', 'Tanning', 'Vinyl', 'Dim',
       'Shipping', 'GlutenFree', 'Lakes', 'Bike', 'IT', 'Vegetarian',
       'Thrift', 'Golf', 'Parks', 'Windshield', 'Watch', 'Plumbing',
       'Kosher', 'Snow', 'Newspapers', 'Hawaiian', 'Packing', 'Junk',
       'Pakistani', 'Childrens', 'Signmaking', 'Dry', 'Threading',
       'Financial', 'Oil', 'PatisserieCake', 'Bikes', 'Haitian', 'Water',
       'Brewing', 'Photographers', 'Veterinarians', 'Wheel', 'Appliances',
       'Laundry', 'Outlet', 'Cannabis', 'Pilates', 'Contractors',
       'Urgent', 'Books', 'Boat', 'Spray', 'Heating', 'Hot', 'Hardware',
       'Breweries', 'Traditional', 'Parking', 'Dentists', 'Apartments',
       'Weight', 'Caribbean', 'Thai', 'Restaurant', 'Airlines', 'Pool',
       'Flea', 'Aerial', 'Cultural', 'Hookah', 'Tree', 'Lingerie', 'Yoga',
       'Acupuncture', 'TexMex', 'Laundromat', 'Landscaping', 'Churches',
       'Bridal', 'Balloon', 'Souvenir', 'Racing', 'Filipino', 'Champagne',
       'Driving', 'Personal', 'Couriers', 'Salvadoran', 'Waxing',
       'Family', 'Customized', 'Gardeners', 'Haunted', 'Dog', 'Cardio',
       'Cafeteria', 'Self', 'Gastropubs', 'Mass', 'Mattresses', 'Fruits',
       'Cabaret', 'German', 'Themed', 'Tennis', 'Psychics', 'Insurance',
       'NaturopathicHolistic', 'Truck', 'Videos', 'Television',
       'Honduran', 'Office', 'Venezuelan', 'Stadiums', 'Tapas',
       'Pharmacy', 'Motorcycle', 'Bagels', 'Midwives', 'TV', 'Employment',
       'Body', 'Farms', 'Antiques', 'Eyewear', 'Ramen', 'Baby', 'Keys',
       'Street', 'Cantonese', 'PersianIranian', 'Notaries',
       'Periodontists', 'Towing', 'Soup', 'Pediatric', 'Bubble',
       'Colombian', 'Oral', 'Carpet', 'Emergency', 'Amateur', 'Boating',
       'Moroccan', 'Vacation', 'Hiking', 'Estate', 'Yelp', 'Cheesesteaks',
       'Boot', 'Burmese', 'Greek', 'Embroidery', 'Fences', 'Knitting',
       'Amusement', 'Cooking', 'Comic', 'Costumes', 'Floral', 'Gay',
       'Carousels', 'Holiday', 'Social', 'Recycling', 'Sunglasses',
       'Vape', 'Blow', 'Hostels', 'Preschools', 'Hospitals', 'Creperies',
       'Cycling', 'Watches', 'Tea', 'Wineries', 'Karaoke', 'Performing',
       'Aquariums', 'Speakeasies', 'Pawn', 'Cuban', 'Donation', 'Wraps',
       'Nicaraguan', 'Endodontists', 'Walking', 'Diagnostic', 'Solar',
       'Orthodontists', 'Permanent', 'Radio', 'Imported', 'Escape',
       'Lawyers', 'Pretzels', 'Swimming', 'Ear', 'Popup', 'Security',
       'Cupcakes', 'Marketing', 'Fertility', 'LiveRaw', 'Handyman',
       'Framing', 'Smog', 'Battery', 'Chocolatiers', 'Shutters',
       'Perfume', 'Glass', 'Guns', 'Noodles', 'Police', 'Cardiologists',
       'Supernatural', 'Falafel', 'Courthouses', 'Shredding', 'Nurseries',
       'Painters', 'Piano', 'Skating', 'Brazilian', 'Turkish',
       'Neurologist', 'Strip', 'Photography', 'Argentine', 'Bus',
       'Recreation', 'Nephrologists', 'Resorts', 'Campgrounds',
       'Piercing', 'Used', 'Electricians', 'Skate', 'African', 'Bowling',
       'Travel', 'Playgrounds', 'Country', 'Disc', 'Web', 'Boxing',
       'Surgeons', 'Fabric', 'Animal', 'Safety', 'Fish', 'Hindu',
       'Swimwear', 'Screen', 'FitnessExercise', 'Scooter', 'Bar',
       'Peruvian', 'Window', 'Leather', 'International', 'Team',
       'Selfdefense', 'RV', 'Macarons', 'Paint', 'Acai', 'Aquarium',
       'Blood', 'Jails', 'Races', 'Barre', 'Pediatricians', 'Caricatures',
       'Gelato', 'Tasting', 'Print', 'Lebanese', 'Basque', 'Mini',
       'Casinos', 'Fishing', 'Carpeting', 'Dominican'], dtype=object)

In [26]:
predefined_categories = [
    "Active Life",
    "Arts  Entertainment",
    "Automotive",
    "Beauty  Spas",
    "Education",
    "Event Planning  Services",
    "Financial Services",
    "Food",
    "Health  Medical",
    "Home Services",
    "Hotels  Travel",
    "Local Flavor",
    "Local Services",
    "Mass Media",
    "Nightlife",
    "Pets",
    "Professional Services",
    "Public Services  Government",
    "Real Estate",
    "Religious Organizations",
    "Restaurants",
    "Shopping"
]

# 处理categories列
def filter_categories(row):
    # categories = row.split(' ')
    # for category in categories:
    #     if category in predefined_categories:
    #         return category
    # return None
    for category in predefined_categories:
        if category in row:
            return category
    return None

geo['main categories']= geo['categories'].apply(filter_categories)

nv_geo = pd.read_csv('yelp_nv/yelp_nv.geo')
nv_geo['main categories']= nv_geo['categories'].apply(filter_categories)

In [29]:
nv_geo[nv_geo.isna().any(axis=1)]
print(nv_geo.nunique())

geo_id             5317
type                  1
coordinates        4762
categories         4179
text               5317
main categories      21
dtype: int64

In [21]:
geo[geo.isna().any(axis=1)]

Empty DataFrame
Columns: [geo_id, type, coordinates, categories, text, main categories]
Index: []

In [25]:
geo.to_csv('yelp_la/yelp_la.geo', index=False)

In [30]:
nv_geo.to_csv('yelp_nv/yelp_nv.geo', index=False)

In [22]:
geo.nunique()

geo_id             7811
type                  1
coordinates        7436
categories         5788
text               7811
main categories      21
dtype: int64

In [2]:
df_tip = pd.read_json("yelp_academic_dataset_tip.json", lines=True)
print(df_tip.shape)
df_tip.head()

(908915, 5)

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [3]:
df_business = pd.read_json("yelp_academic_dataset_business.json", lines=True)
print(df_business.shape)
df_business.head()

(150346, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [5]:
df_merged = pd.merge(df_business, df_tip, on='business_id')
print(df_merged.shape)
df_merged.head()

(908915, 18)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,user_id,text,date,compliment_count
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",trf3Qcz8qvCDKXiTgjUcEg,Dropping off my Amazon return.,2011-12-12 23:30:26,0
1,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",_5swqa5xUdLar-Q-bBZSDA,Containers!,2012-03-29 18:47:55,0
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",oAvO0BOHOagOI7WVGXlWSA,This place looks the same as other target at c...,2012-12-11 02:50:41,0
3,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",moSLKqdFUI-B80vun67UfQ,"clean just stopped for some pens, not to busy ...",2014-09-21 23:01:02,0
4,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",8eC6EOsLTmfVk_35t3ZQqg,Butterball turkeys are 99 cents a pound right ...,2013-11-23 21:15:05,0

In [7]:
df_new = df_merged[['business_id','name', 'state', 'latitude',
                    'longitude', 'categories', 'user_id', 'text', 'date']]
df_new.nunique()

business_id    106193
name            78439
state              20
latitude        98837
longitude       96915
categories      61615
user_id        301758
text           851033
date           906694
dtype: int64

In [ ]:
# aggregate text
# df_PA.groupby(['business_id','latitude','longitude'], as_index = False).agg({'text':''.join})

In [8]:
df_LA = df_new[df_new['state'] == 'LA'].reset_index(drop=True)
print(df_LA.shape)
print(df_LA.nunique())
df_LA.head()

(106470, 9)
business_id      7813
name             6632
state               1
latitude         7218
longitude        7059
categories       5788
user_id         40183
text           102737
date           106441
dtype: int64

,business_id,name,state,latitude,longitude,categories,user_id,text,date
0,w_AMNoI1iG9eay7ncmc67w,River 127,LA,29.951359,-90.064672,"Event Planning & Services, Hotels, Hotels & Tr...",X4k8ugJaihHVLHq32rNTwQ,Last vacation meal,2013-06-03 17:48:26
1,w_AMNoI1iG9eay7ncmc67w,River 127,LA,29.951359,-90.064672,"Event Planning & Services, Hotels, Hotels & Tr...",X4k8ugJaihHVLHq32rNTwQ,Looking for something other than oysters this ...,2013-06-02 16:29:09
2,w_AMNoI1iG9eay7ncmc67w,River 127,LA,29.951359,-90.064672,"Event Planning & Services, Hotels, Hotels & Tr...",GGWUR0XU262iZkVtJ6sZQw,Burger and fried were really good. Menu is ver...,2018-10-23 17:36:49
3,Si6LXSR9gvAbmgO5DzV2cw,Lafitte's Landing Seafood House,LA,29.875482,-90.049380,"Restaurants, Soup, Seafood, Burgers",5JRrwPNQH3mMIXVEOYuZMw,Great food and service! Outstanding seafood pl...,2016-07-31 15:10:26
4,Si6LXSR9gvAbmgO5DzV2cw,Lafitte's Landing Seafood House,LA,29.875482,-90.049380,"Restaurants, Soup, Seafood, Burgers",6K5wCAYi4CB5dGH0QqEFRg,"Everything is ok. Nothing really stellar, almo...",2017-03-26 03:18:45

In [9]:
df_NV = df_new[df_new['state'] == 'NV'].reset_index(drop=True)
print(df_NV.shape)
print(df_NV.nunique())
df_NV.head()

(53056, 9)
business_id     5319
name            4515
state              1
latitude        4591
longitude       4533
categories      4179
user_id        18573
text           51381
date           53034
dtype: int64

,business_id,name,state,latitude,longitude,categories,user_id,text,date
0,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,NV,39.476117,-119.789339,"Restaurants, Italian",m63SiTom5meYgkZ_SVfFKQ,Yummy eggplant quadratini!,2012-01-11 21:39:15
1,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,NV,39.476117,-119.789339,"Restaurants, Italian",xZbySvO07ZLCSDQcQceY5w,Lunch with a pet sitting client,2011-05-06 18:15:51
2,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,NV,39.476117,-119.789339,"Restaurants, Italian",-EiBrLlTNv9uG_xZJWLEvw,The Caesar dressing tastes like water and mayo...,2014-07-15 02:52:59
3,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,NV,39.476117,-119.789339,"Restaurants, Italian",xZbySvO07ZLCSDQcQceY5w,Lunch with a kitty mom/client at Mac grill. I ...,2011-04-18 17:50:03
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,NV,39.476117,-119.789339,"Restaurants, Italian",xC8CT98n1LE-CR0KSdp92A,Wonderful Italian food. Great music.,2014-03-27 18:45:44

In [10]:
poi_info = df_LA.filter(items=['latitude', 'longitude', 'business_id'])
poi_info = poi_info.groupby('business_id').mean()

coordinates = []
for index, row in poi_info.iterrows():
    coordinates.append('[{},{}]'.format(row['longitude'], row['latitude']))
poi_info['coordinates'] = coordinates
poi_info['type'] = 'Point'
poi_info = poi_info.drop(['latitude', 'longitude'], axis=1)
print(poi_info)

                                             coordinates   type
business_id
--8IbOsAAxjKRoYsBFL-PA           [-90.074523,30.0063408]  Point
--S43ruInmIsGrnnkmavRw  [-90.1008188,29.920621899999997]  Point
--x_BmZbxzK_nx_GHBaRVw          [-90.0620566,29.9575819]  Point
--zb12mw2YK-7j6UaHzm8w          [-90.1064893,30.0194903]  Point
-0__F9fnKt8uioCKztF5Ww           [-90.073235,29.9516963]  Point
...                                                  ...    ...
zxfqXVgZ_NvLY2lc1DAlJQ           [-90.0940442,29.926067]  Point
zyRXfBnoE1JZVN4SE7OaaA          [-90.0617793,29.9587943]  Point
zyrhpLocbo60EbS57jBTLw            [-90.066328,29.941828]  Point
zzbZtgPYZS8sTIWQH6DwEw          [-90.1069741,29.9168565]  Point
zzu6_r3DxBJuXcjnOYVdTw           [-90.0355581,29.911358]  Point

[7813 rows x 2 columns]

In [13]:
category_info = df_LA.filter(items=['business_id', 'name', 'categories', 'text'])
category_info = category_info.groupby(['business_id','name','categories'], as_index = False).agg({'text':' '.join})
category_info['text'] = category_info['name'] + " " + category_info['text']
print(category_info)
category_info = category_info.drop_duplicates(['business_id'])

poi_info = pd.merge(poi_info, category_info, on='business_id')
print(poi_info)

                 business_id                                       name  \
0     --8IbOsAAxjKRoYsBFL-PA                   The Original Italian Pie
1     --S43ruInmIsGrnnkmavRw                            Peaches Records
2     --x_BmZbxzK_nx_GHBaRVw                    New Orleans Movie Tours
3     --zb12mw2YK-7j6UaHzm8w  Billy Wright's Manuel's Style Hot Tamales
4     -0__F9fnKt8uioCKztF5Ww                                   Piscobar
...                      ...                                        ...
7806  zxfqXVgZ_NvLY2lc1DAlJQ                       Robin's Wharf Uptown
7807  zyRXfBnoE1JZVN4SE7OaaA                            Kulture Vulture
7808  zyrhpLocbo60EbS57jBTLw                           Generations Hall
7809  zzbZtgPYZS8sTIWQH6DwEw                            F & M Patio Bar
7810  zzu6_r3DxBJuXcjnOYVdTw                               Cafe Diblasi

                                             categories  \
0                            Food, Restaurants, Italian
1     Music & DVDs, Vinyl Records, Fashion, Women's ...
2     Arts & Entertainment, Cinema, Local Flavor, Ho...
3                                  Food, Street Vendors
4     Cafes, Nightlife, Cocktail Bars, Peruvian, Res...
...                                                 ...
7806  Venues & Event Spaces, Wraps, Restaurants, Eve...
7807  Shopping, Fashion, Men's Clothing, Children's ...
7808  Venues & Event Spaces, Event Planning & Servic...
7809  Food, American (Traditional), Nightlife, Resta...
7810                        Restaurants, Cafes, Italian

                                                   text
0     The Original Italian Pie Welcome to the neighb...
1     Peaches Records There selectiona are pricey fo...
2     New Orleans Movie Tours This was a great tour....
3     Billy Wright's Manuel's Style Hot Tamales Exce...
4     Piscobar Upstairs bar closed Monday and Tuesda...
...                                                 ...
7806  Robin's Wharf Uptown Soups count as a side wit...
7807  Kulture Vulture Cool Ass store! They sell a lo...
7808                   Generations Hall Fabulous venue.
7809  F & M Patio Bar Yes. Make fun. $20 credit card...
7810  Cafe Diblasi Great little Italian establishmen...

[7811 rows x 4 columns]
                 business_id                       coordinates   type  \
0     --8IbOsAAxjKRoYsBFL-PA           [-90.074523,30.0063408]  Point
1     --S43ruInmIsGrnnkmavRw  [-90.1008188,29.920621899999997]  Point
2     --x_BmZbxzK_nx_GHBaRVw          [-90.0620566,29.9575819]  Point
3     --zb12mw2YK-7j6UaHzm8w          [-90.1064893,30.0194903]  Point
4     -0__F9fnKt8uioCKztF5Ww           [-90.073235,29.9516963]  Point
...                      ...                               ...    ...
7806  zxfqXVgZ_NvLY2lc1DAlJQ           [-90.0940442,29.926067]  Point
7807  zyRXfBnoE1JZVN4SE7OaaA          [-90.0617793,29.9587943]  Point
7808  zyrhpLocbo60EbS57jBTLw            [-90.066328,29.941828]  Point
7809  zzbZtgPYZS8sTIWQH6DwEw          [-90.1069741,29.9168565]  Point
7810  zzu6_r3DxBJuXcjnOYVdTw           [-90.0355581,29.911358]  Point

                                           categories_x  \
0                            Food, Restaurants, Italian
1     Music & DVDs, Vinyl Records, Fashion, Women's ...
2     Arts & Entertainment, Cinema, Local Flavor, Ho...
3                                  Food, Street Vendors
4     Cafes, Nightlife, Cocktail Bars, Peruvian, Res...
...                                                 ...
7806  Venues & Event Spaces, Wraps, Restaurants, Eve...
7807  Shopping, Fashion, Men's Clothing, Children's ...
7808  Venues & Event Spaces, Event Planning & Servic...
7809  Food, American (Traditional), Nightlife, Resta...
7810                        Restaurants, Cafes, Italian

                                                 text_x  \
0     Welcome to the neighborhood! Super sweet staff...
1     There selectiona are pricey for a records stor...
2            This was a great tour. Fun and informative
3     Excellent tamales.  I really enjoyed the eight...
4     Upstairs bar closed Monday and Tuesday Cool ba...
...                                                 ...
7806  Soups count as a side with no upcharge! Locati...
7807  Cool Ass store! They sell a lot of cool Rock a...
7808                                    Fabulous venue.
7809  Yes. Make fun. $20 credit card minimum Get a n...
7810  Great little Italian establishment!! Good for ...

                                         name_x  \
0                      The Original Italian Pie
1                               Peaches Records
2                       New Orleans Movie Tours
3     Billy Wright's Manuel's Style Hot Tamales
4                                      Piscobar
...                                         ...
7806                       Robin's Wharf Uptown
7807                            Kulture Vulture
7808                           Generations Hall
7809                            F & M Patio Bar
7810                               Cafe Diblasi

                                           categories_y  \
0                            Food, Restaurants, Italian
1     Music & DVDs, Vinyl Records, Fashion, Women's ...
2     Arts & Entertainment, Cinema, Local Flavor, Ho...
3                                  Food, Street Vendors
4     Cafes, Nightlife, Cocktail Bars, Peruvian, Res...
...                                                 ...
7806  Venues & Event Spaces, Wraps, Restaurants, Eve...
7807  Shopping, Fashion, Men's Clothing, Children's ...
7808  Venues & Event Spaces, Event Planning & Servic...
7809  Food, American (Traditional), Nightlife, Resta...
7810                        Restaurants, Cafes, Italian

                                                 text_y  \
0     Welcome to the neighborhood! Super sweet staff...
1     There selectiona are pricey for a records stor...
2            This was a great tour. Fun and informative
3     Excellent tamales.  I really enjoyed the eight...
4     Upstairs bar closed Monday and Tuesday Cool ba...
...                                                 ...
7806  Soups count as a side with no upcharge! Locati...
7807  Cool Ass store! They sell a lot of cool Rock a...
7808                                    Fabulous venue.
7809  Yes. Make fun. $20 credit card minimum Get a n...
7810  Great little Italian establishment!! Good for ...

                                         name_y  \
0                      The Original Italian Pie
1                               Peaches Records
2                       New Orleans Movie Tours
3     Billy Wright's Manuel's Style Hot Tamales
4                                      Piscobar
...                                         ...
7806                       Robin's Wharf Uptown
7807                            Kulture Vulture
7808                           Generations Hall
7809                            F & M Patio Bar
7810                               Cafe Diblasi

                                             categories  \
0                            Food, Restaurants, Italian
1     Music & DVDs, Vinyl Records, Fashion, Women's ...
2     Arts & Entertainment, Cinema, Local Flavor, Ho...
3                                  Food, Street Vendors
4     Cafes, Nightlife, Cocktail Bars, Peruvian, Res...
...                                                 ...
7806  Venues & Event Spaces, Wraps, Restaurants, Eve...
7807  Shopping, Fashion, Men's Clothing, Children's ...
7808  Venues & Event Spaces, Event Planning & Servic...
7809  Food, American (Traditional), Nightlife, Resta...
7810                        Restaurants, Cafes, Italian

                                                   text
0     The Original Italian Pie Welcome to the neighb...
1     Peaches Records There selectiona are pricey fo...
2     New Orleans Movie Tours This was a great tour....
3     Billy Wright's Manuel's Style Hot Tamales Exce...
4     Piscobar Upstairs bar closed Monday and Tuesda...
...                                                 ...
7806  Robin's Wharf Uptown Soups count as a side wit...
7807  Kulture Vulture Cool Ass store! They sell a lo...
7808                   Generations Hall Fabulous venue.
7809  F & M Patio Bar Yes. Make fun. $20 credit card...
7810  Cafe Diblasi Great little Italian establishmen...

[7811 rows x 11 columns]

In [16]:
poi_info = df_LA.filter(items=['latitude', 'name', 'longitude', 'business_id'])
poi_info = poi_info.groupby('business_id').mean()

coordinates = []
for index, row in poi_info.iterrows():
    coordinates.append('[{},{}]'.format(row['longitude'], row['latitude']))
poi_info['coordinates'] = coordinates
poi_info['type'] = 'Point'
poi_info = poi_info.drop(['latitude', 'longitude'], axis=1)
print(poi_info)
category_info = df_LA.filter(items=['business_id', 'name', 'categories', 'text'])
category_info = category_info.groupby(['business_id','name','categories'], as_index = False).agg({'text':' '.join})
category_info['text'] = category_info['name'] + " " + category_info['text']
category_info = category_info.drop_duplicates(['business_id'])

poi_info = pd.merge(poi_info, category_info, on='business_id')
print(poi_info)
poi_info['categories'] = poi_info['categories'].str.replace(r'[^\w\s]', '', regex=True)
poi_info['text'] = poi_info['text'].str.replace(r'[^\w\s]', '', regex=True)
print(poi_info)
poi_info.reset_index(inplace=True)
poi_info['geo_id'] = poi_info.index
print(poi_info)
loc_hash2ID = poi_info.filter(items=['business_id', 'geo_id'])
poi_info = poi_info.reindex(columns=['geo_id', 'type', 'coordinates', 'categories', 'text'])
print(poi_info)

                                             coordinates   type
business_id
--8IbOsAAxjKRoYsBFL-PA           [-90.074523,30.0063408]  Point
--S43ruInmIsGrnnkmavRw  [-90.1008188,29.920621899999997]  Point
--x_BmZbxzK_nx_GHBaRVw          [-90.0620566,29.9575819]  Point
--zb12mw2YK-7j6UaHzm8w          [-90.1064893,30.0194903]  Point
-0__F9fnKt8uioCKztF5Ww           [-90.073235,29.9516963]  Point
...                                                  ...    ...
zxfqXVgZ_NvLY2lc1DAlJQ           [-90.0940442,29.926067]  Point
zyRXfBnoE1JZVN4SE7OaaA          [-90.0617793,29.9587943]  Point
zyrhpLocbo60EbS57jBTLw            [-90.066328,29.941828]  Point
zzbZtgPYZS8sTIWQH6DwEw          [-90.1069741,29.9168565]  Point
zzu6_r3DxBJuXcjnOYVdTw           [-90.0355581,29.911358]  Point

[7813 rows x 2 columns]
                 business_id                       coordinates   type  \
0     --8IbOsAAxjKRoYsBFL-PA           [-90.074523,30.0063408]  Point
1     --S43ruInmIsGrnnkmavRw  [-90.1008188,29.920621899999997]  Point
2     --x_BmZbxzK_nx_GHBaRVw          [-90.0620566,29.9575819]  Point
3     --zb12mw2YK-7j6UaHzm8w          [-90.1064893,30.0194903]  Point
4     -0__F9fnKt8uioCKztF5Ww           [-90.073235,29.9516963]  Point
...                      ...                               ...    ...
7806  zxfqXVgZ_NvLY2lc1DAlJQ           [-90.0940442,29.926067]  Point
7807  zyRXfBnoE1JZVN4SE7OaaA          [-90.0617793,29.9587943]  Point
7808  zyrhpLocbo60EbS57jBTLw            [-90.066328,29.941828]  Point
7809  zzbZtgPYZS8sTIWQH6DwEw          [-90.1069741,29.9168565]  Point
7810  zzu6_r3DxBJuXcjnOYVdTw           [-90.0355581,29.911358]  Point

                                           name  \
0                      The Original Italian Pie
1                               Peaches Records
2                       New Orleans Movie Tours
3     Billy Wright's Manuel's Style Hot Tamales
4                                      Piscobar
...                                         ...
7806                       Robin's Wharf Uptown
7807                            Kulture Vulture
7808                           Generations Hall
7809                            F & M Patio Bar
7810                               Cafe Diblasi

                                             categories  \
0                            Food, Restaurants, Italian
1     Music & DVDs, Vinyl Records, Fashion, Women's ...
2     Arts & Entertainment, Cinema, Local Flavor, Ho...
3                                  Food, Street Vendors
4     Cafes, Nightlife, Cocktail Bars, Peruvian, Res...
...                                                 ...
7806  Venues & Event Spaces, Wraps, Restaurants, Eve...
7807  Shopping, Fashion, Men's Clothing, Children's ...
7808  Venues & Event Spaces, Event Planning & Servic...
7809  Food, American (Traditional), Nightlife, Resta...
7810                        Restaurants, Cafes, Italian

                                                   text
0     The Original Italian Pie Welcome to the neighb...
1     Peaches Records There selectiona are pricey fo...
2     New Orleans Movie Tours This was a great tour....
3     Billy Wright's Manuel's Style Hot Tamales Exce...
4     Piscobar Upstairs bar closed Monday and Tuesda...
...                                                 ...
7806  Robin's Wharf Uptown Soups count as a side wit...
7807  Kulture Vulture Cool Ass store! They sell a lo...
7808                   Generations Hall Fabulous venue.
7809  F & M Patio Bar Yes. Make fun. $20 credit card...
7810  Cafe Diblasi Great little Italian establishmen...

[7811 rows x 6 columns]
                 business_id                       coordinates   type  \
0     --8IbOsAAxjKRoYsBFL-PA           [-90.074523,30.0063408]  Point
1     --S43ruInmIsGrnnkmavRw  [-90.1008188,29.920621899999997]  Point
2     --x_BmZbxzK_nx_GHBaRVw          [-90.0620566,29.9575819]  Point
3     --zb12mw2YK-7j6UaHzm8w          [-90.1064893,30.0194903]  Point
4     -0__F9fnKt8uioCKztF5Ww           [-90.073235,29.9516963]  Point
...                      ...                               ...    ...
7806  zxfqXVgZ_NvLY2lc1DAlJQ           [-90.0940442,29.926067]  Point
7807  zyRXfBnoE1JZVN4SE7OaaA          [-90.0617793,29.9587943]  Point
7808  zyrhpLocbo60EbS57jBTLw            [-90.066328,29.941828]  Point
7809  zzbZtgPYZS8sTIWQH6DwEw          [-90.1069741,29.9168565]  Point
7810  zzu6_r3DxBJuXcjnOYVdTw           [-90.0355581,29.911358]  Point

                                           name  \
0                      The Original Italian Pie
1                               Peaches Records
2                       New Orleans Movie Tours
3     Billy Wright's Manuel's Style Hot Tamales
4                                      Piscobar
...                                         ...
7806                       Robin's Wharf Uptown
7807                            Kulture Vulture
7808                           Generations Hall
7809                            F & M Patio Bar
7810                               Cafe Diblasi

                                             categories  \
0                              Food Restaurants Italian
1     Music  DVDs Vinyl Records Fashion Womens Cloth...
2     Arts  Entertainment Cinema Local Flavor Hotels...
3                                   Food Street Vendors
4     Cafes Nightlife Cocktail Bars Peruvian Restaur...
...                                                 ...
7806  Venues  Event Spaces Wraps Restaurants Event P...
7807  Shopping Fashion Mens Clothing Childrens Cloth...
7808  Venues  Event Spaces Event Planning  Services ...
7809  Food American Traditional Nightlife Restaurant...
7810                          Restaurants Cafes Italian

                                                   text
0     The Original Italian Pie Welcome to the neighb...
1     Peaches Records There selectiona are pricey fo...
2     New Orleans Movie Tours This was a great tour ...
3     Billy Wrights Manuels Style Hot Tamales Excell...
4     Piscobar Upstairs bar closed Monday and Tuesda...
...                                                 ...
7806  Robins Wharf Uptown Soups count as a side with...
7807  Kulture Vulture Cool Ass store They sell a lot...
7808                    Generations Hall Fabulous venue
7809  F  M Patio Bar Yes Make fun 20 credit card min...
7810  Cafe Diblasi Great little Italian establishmen...

[7811 rows x 6 columns]
      index             business_id                       coordinates   type  \
0         0  --8IbOsAAxjKRoYsBFL-PA           [-90.074523,30.0063408]  Point
1         1  --S43ruInmIsGrnnkmavRw  [-90.1008188,29.920621899999997]  Point
2         2  --x_BmZbxzK_nx_GHBaRVw          [-90.0620566,29.9575819]  Point
3         3  --zb12mw2YK-7j6UaHzm8w          [-90.1064893,30.0194903]  Point
4         4  -0__F9fnKt8uioCKztF5Ww           [-90.073235,29.9516963]  Point
...     ...                     ...                               ...    ...
7806   7806  zxfqXVgZ_NvLY2lc1DAlJQ           [-90.0940442,29.926067]  Point
7807   7807  zyRXfBnoE1JZVN4SE7OaaA          [-90.0617793,29.9587943]  Point
7808   7808  zyrhpLocbo60EbS57jBTLw            [-90.066328,29.941828]  Point
7809   7809  zzbZtgPYZS8sTIWQH6DwEw          [-90.1069741,29.9168565]  Point
7810   7810  zzu6_r3DxBJuXcjnOYVdTw           [-90.0355581,29.911358]  Point

                                           name  \
0                      The Original Italian Pie
1                               Peaches Records
2                       New Orleans Movie Tours
3     Billy Wright's Manuel's Style Hot Tamales
4                                      Piscobar
...                                         ...
7806                       Robin's Wharf Uptown
7807                            Kulture Vulture
7808                           Generations Hall
7809                            F & M Patio Bar
7810                               Cafe Diblasi

                                             categories  \
0                              Food Restaurants Italian
1     Music  DVDs Vinyl Records Fashion Womens Cloth...
2     Arts  Entertainment Cinema Local Flavor Hotels...
3                                   Food Street Vendors
4     Cafes Nightlife Cocktail Bars Peruvian Restaur...
...                                                 ...
7806  Venues  Event Spaces Wraps Restaurants Event P...
7807  Shopping Fashion Mens Clothing Childrens Cloth...
7808  Venues  Event Spaces Event Planning  Services ...
7809  Food American Traditional Nightlife Restaurant...
7810                          Restaurants Cafes Italian

                                                   text  geo_id
0     The Original Italian Pie Welcome to the neighb...       0
1     Peaches Records There selectiona are pricey fo...       1
2     New Orleans Movie Tours This was a great tour ...       2
3     Billy Wrights Manuels Style Hot Tamales Excell...       3
4     Piscobar Upstairs bar closed Monday and Tuesda...       4
...                                                 ...     ...
7806  Robins Wharf Uptown Soups count as a side with...    7806
7807  Kulture Vulture Cool Ass store They sell a lot...    7807
7808                    Generations Hall Fabulous venue    7808
7809  F  M Patio Bar Yes Make fun 20 credit card min...    7809
7810  Cafe Diblasi Great little Italian establishmen...    7810

[7811 rows x 8 columns]
      geo_id   type                       coordinates  \
0          0  Point           [-90.074523,30.0063408]
1          1  Point  [-90.1008188,29.920621899999997]
2          2  Point          [-90.0620566,29.9575819]
3          3  Point          [-90.1064893,30.0194903]
4          4  Point           [-90.073235,29.9516963]
...      ...    ...                               ...
7806    7806  Point           [-90.0940442,29.926067]
7807    7807  Point          [-90.0617793,29.9587943]
7808    7808  Point            [-90.066328,29.941828]
7809    7809  Point          [-90.1069741,29.9168565]
7810    7810  Point           [-90.0355581,29.911358]

                                             categories  \
0                              Food Restaurants Italian
1     Music  DVDs Vinyl Records Fashion Womens Cloth...
2     Arts  Entertainment Cinema Local Flavor Hotels...
3                                   Food Street Vendors
4     Cafes Nightlife Cocktail Bars Peruvian Restaur...
...                                                 ...
7806  Venues  Event Spaces Wraps Restaurants Event P...
7807  Shopping Fashion Mens Clothing Childrens Cloth...
7808  Venues  Event Spaces Event Planning  Services ...
7809  Food American Traditional Nightlife Restaurant...
7810                          Restaurants Cafes Italian

                                                   text
0     The Original Italian Pie Welcome to the neighb...
1     Peaches Records There selectiona are pricey fo...
2     New Orleans Movie Tours This was a great tour ...
3     Billy Wrights Manuels Style Hot Tamales Excell...
4     Piscobar Upstairs bar closed Monday and Tuesda...
...                                                 ...
7806  Robins Wharf Uptown Soups count as a side with...
7807  Kulture Vulture Cool Ass store They sell a lot...
7808                    Generations Hall Fabulous venue
7809  F  M Patio Bar Yes Make fun 20 credit card min...
7810  Cafe Diblasi Great little Italian establishmen...

[7811 rows x 5 columns]

In [17]:
def generate_geo(df):
    poi_info = df.filter(items=['name', 'latitude', 'longitude', 'business_id'])
    poi_info = poi_info.groupby('business_id').mean()
    
    coordinates = []
    for index, row in poi_info.iterrows():
        coordinates.append('[{},{}]'.format(row['longitude'], row['latitude']))
    poi_info['coordinates'] = coordinates
    poi_info['type'] = 'Point'
    poi_info = poi_info.drop(['latitude', 'longitude'], axis=1)
    category_info = df.filter(items=['business_id', 'name', 'categories', 'text'])
    category_info = category_info.groupby(['business_id', 'name', 'categories'], as_index = False).agg({'text':' '.join})
    category_info['text'] = category_info['name'] + " " + category_info['text']
    category_info = category_info.drop_duplicates(['business_id'])
    
    poi_info = pd.merge(poi_info, category_info, on='business_id')
    poi_info['categories'] = poi_info['categories'].str.replace(r'[^\w\s]', '', regex=True)
    poi_info['text'] = poi_info['text'].str.replace(r'[^\w\s]', '', regex=True)
    poi_info.reset_index(inplace=True)
    poi_info['geo_id'] = poi_info.index
    loc_hash2ID = poi_info.filter(items=['business_id', 'geo_id'])
    poi_info = poi_info.reindex(columns=['geo_id', 'type', 'coordinates', 'categories', 'text'])
    
    return poi_info, loc_hash2ID

In [20]:
poi_info_nv, loc_hash2ID_nv = generate_geo(df_NV)
output_folder_nv = 'yelp_nv'

poi_info_nv.to_csv(output_folder_nv + '/yelp_nv.geo', index=False)

In [21]:
poi_info_la,loc_hash2ID_la = generate_geo(df_LA)
output_folder_la = 'yelp_la'

poi_info_la.to_csv(output_folder_la + '/yelp_la.geo', index=False)

In [35]:
# 处理 usr
user = pd.unique(df_NV['user_id'])
user = pd.DataFrame(user, columns=['user_id'])
user['usr_id'] = user.index

# 处理dyna
dyna = df_NV.filter(items=['user_id', 'business_id', 'date', 'text'])
dyna = pd.merge(dyna, loc_hash2ID_nv, on='business_id')
dyna = pd.merge(dyna, user, on='user_id')
time = []
text = []

for index, row in dyna.iterrows():
    # date = datetime.strptime(row['date'], '%Y-%m-%d %H:%M:%S')
    date = row['date'].to_pydatetime()
    time.append(date.strftime('%Y-%m-%dT%H:%M:%SZ'))  # 2020-12-07T02:59:46
   
    no_punct_text = row['text'].translate(str.maketrans('', '', string.punctuation))
    text.append(no_punct_text)
    # 最后一个是空格
dyna['time'] = time
dyna['text'] = text
dyna['type'] = 'trajectory'

dyna = dyna.rename(columns={'geo_id': 'location', 'usr_id': 'entity_id'})
dyna = dyna.sort_values(by='time')
dyna = dyna.reset_index(drop=True)
dyna['dyna_id'] = dyna.index
dyna = dyna.reindex(columns=['dyna_id', 'type', 'time', 'entity_id', 'location','text'])
dyna.to_csv(output_folder_nv + '/yelp_nv.dyna', index=False)

user = user.drop(['user_id'], axis=1)
user.to_csv(output_folder_nv + '/yelp_nv.usr', index=False)

In [36]:
# 处理 usr
user = pd.unique(df_LA['user_id'])
user = pd.DataFrame(user, columns=['user_id'])
user['usr_id'] = user.index

# 处理dyna
dyna = df_LA.filter(items=['user_id', 'business_id', 'date', 'text'])

dyna = pd.merge(dyna, loc_hash2ID_la, on='business_id')
dyna = pd.merge(dyna, user, on='user_id')
time = []
text = []

for index, row in dyna.iterrows():
    # date = datetime.strptime(row['date'], '%Y-%m-%d %H:%M:%S')
    date = row['date'].to_pydatetime()
    time.append(date.strftime('%Y-%m-%dT%H:%M:%SZ'))  # 2020-12-07T02:59:46
   
    no_punct_text = row['text'].translate(str.maketrans('', '', string.punctuation))
    text.append(no_punct_text)
    
dyna['time'] = time
dyna['text'] = text
dyna['type'] = 'trajectory'
dyna = dyna.rename(columns={'geo_id': 'location', 'usr_id': 'entity_id'})
dyna = dyna.sort_values(by='time')
dyna = dyna.reset_index(drop=True)
dyna['dyna_id'] = dyna.index
dyna['type'] = 'trajectory'
dyna = dyna.rename(columns={'geo_id': 'location', 'usr_id': 'entity_id'})
dyna = dyna.sort_values(by='time')
dyna = dyna.reset_index(drop=True)
dyna['dyna_id'] = dyna.index
dyna = dyna.reindex(columns=['dyna_id', 'type', 'time', 'entity_id', 'location','text'])

dyna.to_csv(output_folder_la + '/yelp_la.dyna', index=False)

user = user.drop(['user_id'], axis=1)
user.to_csv(output_folder_la + '/yelp_la.usr', index=False)

                       user_id             business_id                date  \
0       X4k8ugJaihHVLHq32rNTwQ  w_AMNoI1iG9eay7ncmc67w 2013-06-03 17:48:26
1       X4k8ugJaihHVLHq32rNTwQ  w_AMNoI1iG9eay7ncmc67w 2013-06-02 16:29:09
2       GGWUR0XU262iZkVtJ6sZQw  w_AMNoI1iG9eay7ncmc67w 2018-10-23 17:36:49
3       5JRrwPNQH3mMIXVEOYuZMw  Si6LXSR9gvAbmgO5DzV2cw 2016-07-31 15:10:26
4       6K5wCAYi4CB5dGH0QqEFRg  Si6LXSR9gvAbmgO5DzV2cw 2017-03-26 03:18:45
...                        ...                     ...                 ...
106463  YW1n-AIspP9wwlQLHZzfQA  lCo7sEuxlfFeT-nAOR-sbA 2015-04-15 22:46:07
106464  LGFIMtybUQQuErEmjM17LQ  lCo7sEuxlfFeT-nAOR-sbA 2014-08-07 23:41:24
106465  Zo1vFDjTkmEdz-FSsiY6fg  lCo7sEuxlfFeT-nAOR-sbA 2014-08-04 13:45:29
106466  slOXiLnFiFyEgHMWQyhvXw  lCo7sEuxlfFeT-nAOR-sbA 2012-11-20 21:09:39
106467  nzE3PIraNVdv_rCR8-7f6A  lCo7sEuxlfFeT-nAOR-sbA 2012-04-19 01:28:00

                                                     text  geo_id
0                                      Last vacation meal    7352
1       Looking for something other than oysters this ...    7352
2       Burger and fried were really good. Menu is ver...    7352
3       Great food and service! Outstanding seafood pl...    3565
4       Everything is ok. Nothing really stellar, almo...    3565
...                                                   ...     ...
106463  Terrible and long wait times!\nDid not expect ...    6002
106464  Don't ever go if you're looking to fix your iP...    6002
106465  Right across the hall from a Cafe Du Monde. Da...    6002
106466                                 Getting my geek on    6002
106467  OUTSTANDING customer service from all 4 of the...    6002

[106468 rows x 5 columns]